button {
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    border-style: none;
    box-sizing: border-box;
}

button.block {
    display: block;
    width: 100%;
}

button:hover { 
    cursor:pointer;
}


.btn-ok {
    background-color: cornflowerblue;
    color: white;
}

.btn-ok:hover {
    background-color: rgb(86, 127, 204);
    color: white;
}

.btn-cancle {
    background-color: crimson;
    color: white;
}

.btn-cancle:hover {
    background-color: rgb(189, 17, 51);
    color: white;
}

input {
    padding: 0.5em;
    outline-style: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
}

input:hover,
input:focus
 {
    border-color: rgb(73, 131, 239);
    border-style: solid;
}

.input-text.block {
    width: 100%;
}

.input-check, .input-radio {
    display: none;
}

.check-form {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(173, 173, 173);
    width: 10px; height: 10px;
}

.radio-form {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(173, 173, 173);
    width: 10px; height: 10px;
    border-radius: 50%;
}

.input-check:checked ~ .check-form {
    background-color: rgb(73, 131, 237);
    border-color: rgb(73, 131, 237);
    position: relative;
}

.input-check:checked ~ .check-form::after {
    content: "V";
    position: absolute;
    left: 0.3px; top: -6px;
    color: white;
}


.input-radio:checked ~ .radio-form {
    background-color: rgb(73, 131, 237);
    border-color: rgb(73, 131, 237);
    position: relative;
}

.input-radio:checked ~ .radio-form::after {
    content: "●";
    font-size: 0.5em;
    position: absolute;
    left: 0.1px; top: -3px;
    color: white;
}