.table-normal {
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    width: 100%;
}

.table-normal th, 
.table-normal td  {
    border-style: solid;
    border-width: thin;
}

.table-horizon {
    border-collapse: collapse;
    width: 100%;
}

.table-horizon th,
.table-horizon td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.striped tbody tr:nth-child(2n-1){
    background-color: rgb(248, 248, 248);
}

.hover tbody tr:hover {
    background-color: rgb(224, 224, 224);
}